@font-face {
    font-family: LuzSans;
    src: url(fonts/LUZHPORO.TTF);
}
@font-face {
    font-family: LuzSans;
    src: url(fonts/LUZHPBRO.TTF);
    font-weight: bold;
}
body {
    font-family: LuzSans, Helvetica, sans-serif;
    background-color: #D0D0D0;
    color: #404040;
    height: 100vh;
}
a {
    text-decoration: none;

}
.portrait {
    float: left;
    margin: 0 0 10px 10px;
    image-rendering: pixelated;
}
.site-logo {
	float: left;
	width: 40px;
	height: 40px;
	padding: 0px 20px;
}
.media-icon {
	float: right;
	height: 24px;
	padding: 8px 8px;
}
.media-icon:hover {
	background-color: #800000;
}
div {
	max-width: 720px;
    margin-top: 40px;
    padding: 40px;
    height: 100vh;
    background-color: #F0F0F0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

li {
    float: left;
    height: 40px;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    vertical-align: bottom;
    color: #FFFFFF;
}

li a:hover:not(.active) {
    background-color: #800000;
    height: 40px;
}

.active {
    background-color: #FF0000;
    font-weight: bold;
    height: 40px;
}