@font-face {
    font-family: LuzSans;
    src: url(fonts/LUZHPORO.TTF);
}
@font-face {
    font-family: LuzSans;
    src: url(fonts/LUZHPBRO.TTF);
    font-weight: bold;
}
body {
    font-family: LuzSans, Helvetica, sans-serif;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto 
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.portrait {
    float: left;
    margin: 0 0 10px 10px;
    image-rendering: pixelated;
}
.site-logo {
  float: left;
  width: 40px;
  height: 40px;
  padding: 0px 20px;
}
.media-icon {
  float: right;
  height: 24px;
  padding: 8px 8px;
}
.media-icon:hover {
  background-color: #800000;
}
div {
    margin-top: 40px;
    padding: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
    height: 40px;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    vertical-align: bottom;
}

li a:hover:not(.active) {
    background-color: #800000;
    height: 40px;
}

.active {
    background-color: #FF0000;
    font-weight: bold;
    height: 40px;
}